#!/bin/bash

# Brewfile hash: {{ include "Brewfile" | sha256sum }}

echo "running brew bundle install..."
brew bundle install
echo "running brew bundle install DONE."

echo "starting goku service..."
brew services start goku
echo "starting goku service DONE."

